{% extends 'base.html' %}
{% block body %}
<div>
    
    <h3>Add a new movie</h3>
   
    <form method="POST" action="{{ url_for('add_movie') }}">

        {{ form.csrf_token }}
        <input class="form-control" type="text" placeholder="Movie Title" {{ form.Movie_name(size=20) }}>
        <input class="form-control" type="text" placeholder="Movie Rating" {{ form.Movie_rating(size=10) }}>
        <input class="form-control" type="text" placeholder="Lead's First Name"  {{ form.first_name(size=20) }}>
        <input class="form-control" type="text" placeholder="Lead's Last Name" {{ form.last_name(size=20)> 

        <button type="submit" class="btn btn-outline-dark">Add Movie</button>
    </form>
</div>



{% endblock %}