

{% extends 'base.html' %}

{% block body %}
<p> <a href="{{ url_for('.add_movie')}}">Add a New Movie</a></p>
{% if movies %}
	<h2> Ratings </h2>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Movie</th>
					<th>Rating</th>
					<th>Lead Actor/Actress First Name</th>
					<th>Lead Actor/Actress Last Name</th>
				</tr>
			</thead>

			<tbody>
				{% for row in movies %}
				<tr>
					<td> {{ row.Movie_name }}</td>
					<td> {{ row.Movie_rating }}</td>
					<td> {{ row.first_name }}</td>
					<td> {{ row.last_name }}</td>

					<td>
						<form action="{{ url_for('get_movie', MovieID=row.MovieID) }}" Method="POST">
							<input type="submit" value="Details" />
						</form>
					</td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
{% endif %}
{% endblock %}
